#echo {
	float: right; /* so Echo doesn't push menu items out of the header when the mobile logo is enabled */
	padding-top: 1em;
	line-height: 0;
}

#echo li {
	display: inline;
	margin-left: 0.5em;
	line-height: 1;
}

#echo .oo-ui-labelElement-label {
	font-size: 1.125em;
}
