.refreshed-checkbox,
body > *,
#refreshed-toolbox {
	display: none;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content-footer-wrapper {
	display: initial;
	padding: 2em;
}

/* underline links to differentiate between regular text */
a,
a.external {
	font-weight: bold;
	text-decoration: underline !important;
}

#toc {
	font-size: 1em;
	padding: 1em;

	h2 {
		padding: 0;
		margin: 0;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		margin: 0;
		padding: 0;
	}
}

.printfooter {
	display: block;
	padding-top: 1em;
}

.printfooter,
#footer-wrapper {
	text-align: center;
	color: #aaa;
}

.footer-row {
	display: block;
	list-style: none;
	margin: 0;
}

.footer-row-item {
	margin: 0;
	padding: 0.5em;
	font-size: 0.8em;
}

#footer-row-places li {
	display: inline-block;
}
