/* refresh-ify postedit, reset all the shadows and stuff */
.postedit {
	font-family: "Lato", sans-serif !important;
	font-size: 1.1em !important;
	line-height: 1em !important;
	top: 3px !important;
	border: none !important;
	text-shadow: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}
