#siteSub,
#contentSub {
	margin: 0;
	padding: 0 0 0.25em 0;
	font-size: 0.8em;
}

#site-notice {
	display: inline-block;
}

#localNotice {
	margin-bottom: 0em !important;
}

/* Category links */
#catlinks {
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
}

/* stopping wikitables from overflowing, adding .scrollshadow-type scrolling */
#bodyContent .wikitable {
	overflow-x: auto;
	display: block;
	border: 0;
}
