/* anything 1001px and over - most laptops, desktops */

#header-wrapper {
	/* .header-suggestions relies on height, see its CSS for more */
	/* height is opposite of margin-top of #explore-header-categories-dropdowns */
	/* etc. (search for 3em to find more) */
	height: 3em;
}

#explore-header-categories-dropdowns {
	margin-top: -3em; /* opposite of height of #header-wrapper */
}

.header-category-dropdown-button,
#user-info-dropdown-button {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* vertically center text, images, etc.: https://stackoverflow.com/a/33049392 */
#header-search-dropdown-tray {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
}

.header-category-dropdown-button,
#user-info-dropdown-button {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* handle the header buttons that contain no text (only icon/image) on big */
.header-button-textless,
.header-button-textless-big {
	width: 3em; /* same as height of #header-wrapper */
}

/* If a header button has its text hidden on big, hide the vertical-align
helper as it messes up horizontal spacing when only an icon/image is present.
Also, hide the actual text and dropdown arrows. */
.header-button-textless-big .header-text {
	display: none;
}

.avatar,
.refreshed-icon-refreshed-explore {
	margin-right: 0.25em;
}

.header-button-textless-big svg,
.header-button-textless-big img, {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.refreshed-dropdown-triangle {
	/* This max-width is notably less than width of .refreshed-dropdown-tray
	so the triangle doesn't appear disconnected from tray. Having the max-width
	equal the width wouldn't work: the triangle is centered on the right (LTR) or
	left (RTL) edge of .refreshed-dropdown-triangle, so if
	.refreshed-dropdown-triangle is the same width as a dropdown, the arrow will
	peek off of it. We just make the max-width less, without figuring out the
	exact number where the triangle would be on the edge of the dropdown, because
	we don't want the triangle to be on the exact edge of the dropdown anyway if
	possible (it looks weird).
	NOTE: This assumes .refreshed-dropdown-triangle and .refreshed-dropdown-tray
	have the same font size... */
	max-width: 11em;
}

.refreshed-dropdown-tray-big {
	background: #fff; /* same as .refreshed-dropdown-triangle:after border-bottom color */
	position: absolute;
	box-shadow: 0 3px 9px 0 rgba(75,75,75,0.4);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: none;
	margin: 0;
	/* margin-top is opposite of bottom of .refreshed-dropdown-triangle:after to
	ensure arrow lines up with tray */
	/* also same as .header-suggestions margin-top on medium/small */
	margin-top: -3px;
	line-height: 1.2em;
	/* 1 more than z-index of .refreshed-checkbox ~ .refreshed-toggle::after (etc.)
	so the dropdown appears above the dropdown close overlay.
	1 less than z-index of .refreshed-dropdown-triangle to ensure the triangle
	appears above the dropdown and thus is not underneath its drop shadow */
	z-index: 2;
}

.refreshed-dropdown-tray-big img {
	max-width: 100%;
}

.refreshed-dropdown-tray-big li {
	margin: 0;
	list-style: none;
	padding: 0;
}

/* Dropdowns use the "checkbox hack":
see https://css-tricks.com/the-checkbox-hack/ */
.refreshed-dropdown-checkbox:checked ~ .refreshed-dropdown-tray-big {
	display: block;
}

.refreshed-dropdown-tray,
.refreshed-dropdown-tray-big {
	/* This width notably more than the max-width of .refreshed-dropdown-triangle
	(see its CSS for explanation).
	NOTE: This assumes .refreshed-dropdown-triangle and .refreshed-dropdown-tray
	have the same font size... */
	width: 12em;
}

#header-search {
	margin-right: 1em;
}

#header-search-dropdown-toggle {
	display: none;
}

#header-search-dropdown-tray {
	height: inherit;
	position: relative; /* so .searchButton is positioned relative to this */
}

#searchInput { /* header search box */
	width: 15em;
	/* padding-right is 0.5em more than padding-right of .searchButton to leave
	room for it */
	padding-right: 2em;
}

.searchButton {
	/* take up full height and stick to right side of #searchInput */
	top: 0.5em;
	bottom: 0.5em;
	right: 0;
	/* ooui-icon-search */
	background-image: url( data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M19%2017l-5.15-5.15a7%207%200%201%200-2%202L17%2019zM3.5%208A4.5%204.5%200%201%201%208%2012.5%204.5%204.5%200%200%201%203.5%208z%22%2F%3E%3C%2Fsvg%3E );
}

#sidebar-toggler {
	display: none;
}

#sidebar-wrapper {
	top: 3em; /* same as height of #header-wrapper */
	left: 0;
	width: 12em;
}

#sidebar-logo {
	display: none;
}

#site-navigation-sidebar,
#header-categories-sidebar {
	display: none;
}

#content-wrapper,
#footer {
	margin: 0 1em 0 12em;
}

#small-toolbox-wrapper {
	display: none;
}
