#sidebar-toggler-header-categories-user-info-search-wrapper {
	position: relative;
}

.refreshed-menu-collapsible {
	-ms-transition: max-height 0.4s ease;
	transition: max-height 0.4s ease;
	visibility: visible;
	overflow: hidden;
	height: auto;
}

.refreshed-menu-collapsed {
	-ms-transition: max-height 0.2s ease, visibility 0.2s;
	transition: max-height 0.2s ease, visibility 0.2s;
	max-height: 0 !important;
	visibility: hidden;
	overflow: hidden;
}

.fadable {
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	opacity: 1;
	visibility: visible;
}

.faded {
	-ms-transition: opacity 0.2s ease, visibility 0.2s;
	transition: opacity 0.2s ease, visibility 0.2s;
	opacity: 0;
	visibility: hidden;
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	background-color: #194a8d;
	color: #fff;
}

#header-wrapper {
	-webkit-font-smoothing: antialiased;
	width: 100%;
	z-index: 1099; /* very high value to guarantee no elements on wikis will appear above it; same as .header-suggestions and .mw-echo-ui-overlay */
	position: fixed;
	background-color: #103ca2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#040f28,EndColorStr=#103ca2)"; /* IE9+ */
	background-image: linear-gradient(to left, #040f28 0, #103ca2 50%, #040f28 100%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 3px 9px 0 rgba(75,75,75,0.4);
	font-family: "Lato body", sans-serif;
}

/* settings to vertically align text/images/svg,
per https://stackoverflow.com/a/7310398 */

/* explicitly inherit height so the text/images/svg inside have access to the
header's full height, and make sure they're all vertically aligned the same way
(especially labels) so all .refreshed-dropdown-triangle elements are set to the
same height */
#header-wrapper div,
#header-wrapper section,
#header-wrapper nav,
#header-wrapper a,
#header-wrapper label {
	height: 100%;
	vertical-align: top;
}

/* vertically center text, images, etc.: https://stackoverflow.com/a/33049392 */
.header-button,
#extra-personal-tools-tray {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
}

.header-button { /* defined at top so individual elements can override these properties */
	cursor: pointer;
	text-align: center;
	position: relative;
}

.header-button:hover,
.header-checkbox:checked ~ .header-toggle .header-button,
.header-button-active { /* defined at bottom so this overrides individual elements' background-color properties */
	background-color: midnightblue;
}

/* center images/icons in buttons containing no text */
.header-button-textless svg,
.header-button-textless img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a.header-button {
	color: currentColor;
	text-decoration: none;
}

/* note there is no corresponding rules for .header-button-textless .header-text
because a button that is textless at all screen sizes shouldn't have any
.header-text in it to begin with */

.header-section,
.header-category-dropdown,
#user-info-dropdown,
#extra-personal-tools {
	display: inline-block; /* sections don't fill up whole header width, blocking each other */
}

#sidebar-toggler-header-categories-user-info-search-wrapper {
	display: flex;
	flex-direction: row-reverse; /* when only one item inside (#user-info-search-wrapper), push it to the right side (LTR) or left (RTL) */
	justify-content: space-between;
	width: 100%; /* fill all the space not occupied by #site-info */
}

#user-info-search-wrapper {
	flex-shrink: 0; /* when this user info hits the header categories, the header categories should shrink, but the user info shouldn't */
}

#extra-personal-tools-tray {
	margin: 0;
	height: 100%;
}

#extra-personal-tools-tray li {
	display: inline-block;
	margin: 0 0.75em 0 0; /* adapted from Timeless's #personal-extra li rule */
}

#pt-notifications-notice,
#pt-notifications-alert {
	vertical-align: middle; /* (more or less) center the echo badges */
}

#site-info-main {
	width: 12em;
}

.refreshed-logo-current {
	font-weight: bold;
	width: 100%; /* (if no other wikis) */
}

.refreshed-logo-sidebar-current {
	height: 100%;
}

#site-info-main.multiple-wikis .refreshed-logo-current {
	width: 10em;
	float: left; /* prevent arrow from being bumped down */
}

#site-navigation-dropdown-tray {
	text-align: center;
}

#site-info-mobile {
	display: none;
	height: 2.75em;
	width: 2.75em;
	margin-left: 3em; /* 2.75em for sidebar opener, 0.25em of padding */
	padding: 0 0.25em;
}

#site-info-mobile .header-button {
	display: block;
}

#searchInput {
	border: 0;
	font-size: 1em;
	padding: 0.25em; /* .searchButton's background-size + #searchInput's padding-top + #searchInput's padding-bottom = #searchInput's height */
	font-family: inherit;
	box-sizing: border-box;
	-webkit-appearance: none; /* prevent Safari from styling input box */
	border-radius: 0; /* prevent iOS from adding rounded corners to input box */
	/* .header-suggestions relies on this in small and medium, see its CSS for more info */
	/* .searchButton's background-size + #searchInput's padding-top + #searchInput's padding-bottom = #searchInput's height */
	height: 2em; /* height of #searchButton */
}

input[type="search"]::-webkit-search-decoration {
	/* prevent Safari from styling input box (adding text indent)
	per https://stackoverflow.com/a/11128262 */
  -webkit-appearance: none;
}

#searchInput::-webkit-input-placeholder {
	color: #808080;
	font-weight: 700;
}

#searchInput::-moz-placeholder {
	color: #808080;
	font-weight: 700;
}

#searchInput::-ms-input-placeholder {
	color: #808080;
	font-weight: 700;
}

.searchButton {
	/* reset search button styles */
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	font-size: inherit;
	text-indent: -99999px; /* hide the actual text of the button */
	width: 2em; /* 0.5em less than padding-right of #searchInput on small and medium */
	height: 2em; /* height of #searchInput */
	/* ooui-icon-search */
	background-position: center center;
	background-size: 1.5em 1.5em; /* .searchButton's background-size + #searchInput's padding-top + #searchInput's padding-bottom = #searchInput's height */
	background-repeat: no-repeat;
	cursor: pointer;
}

.mw-fallbackSearchButton {
	/* give the fallback search button a z-index while the other button has none
	so the fallback button appears above the normal button */
	z-index: 1;
}

#explore-header-categories {
	position: relative;
}

/* Wrapper so the header categories experience overflow-x: hidden and
overflow-y: visible. Inspired by https://stackoverflow.com/a/29687454. Since
.refreshed-header-category-dropdown-tray has position: absolute, it'll pop out
of the overflow: hidden. Since .refreshed-dropdown does not have
position: absolute, it will stay hidden if the screen is too narrow and it wraps
out of the header. For more see
https://css-tricks.com/popping-hidden-overflow/. */
#explore-header-categories-overflow-hider {
	overflow: hidden;
}


/* Small element so that #explore-header-categories-dropdowns isn't the first
non-zero-width child of #explore-header-categories-overflow-hider. That way when
the viewport is too narrow for both #explore-header-categories-sibling and
#explore-header-categories-dropdowns, the entirety of
#explore-header-categories-dropdowns will wrap onto the next line, revealing
the explore button which is at the top of it. */
#explore-header-categories-sibling {
	display: inline-block;
	/* width is same as margin-left of #explore-dropdown
	and opposite of margin-left of #explore-header-categories-dropdowns */
	width: 1px;
}

#explore-header-categories-dropdowns {
	display: inline-block;
	/* margin-left is opposite of width of #explore-header-categories-sibling
	and opposite of margin-left of #explore-dropdown */
	margin-left: -1px;
	/* Appears pushed up 100% of its height, so the second row (header categories)
	is visible in the header. When the viewport gets too narrow, the element moves
	down a line, making its first row (the explore button) visible. */
}

/* when JS is disabled, show the Explore button without the header categories */
.client-nojs #header-categories-dropdowns,
.explore-only #header-categories-dropdowns {
	display: none;
}

.client-nojs #explore-header-categories-dropdowns,
.explore-only #explore-header-categories-dropdowns {
	margin-top: 0;
}

.client-nojs #explore-dropdown,
.explore-only #explore-dropdown {
	margin-left: 0;
}

.page-item {
	display: inline-block;
}

#explore-header-categories a:hover,
#explore-header-categories a:focus {
	text-decoration: none;
}

/* .refreshed-dropdown-item included for specificity */
.refreshed-dropdown-item .explore-submenu-dropdown-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.explore-submenu-dropdown {
	position: relative; /* place child dropdown relative to this */
}

.refreshed-dropdown-checkbox:checked ~ .explore-submenu-dropdown-tray {
	display: block;
	position: absolute;
	left: 100%;
	top: -0.5em; /* opposite of padding-top of .refreshed-dropdown-tray */
	margin-top: 0;
}

#explore-dropdown {
	/* margin-left is same as width of #explore-header-categories-sibling
	and opposite of margin-left of #explore-header-categories-dropdowns */
	margin-left: 1px;
}

#explore-dropdown-tray .refreshed-dropdown-checkbox:checked ~ .refreshed-dropdown-toggle::after {
	background: transparent;
}

#content-heading {
	/* padding-left/right: 1em (#bodyContent padding-left) * 0.9em (#bodyContent font-size);
	padding-bottom: 0.25em (padding on top of .standard-toolbox) + 1.5em (height of .standard-toolbox) + 0.75em (padding on bottom of .standard-toolbox) */
	padding: 0.5em 0.9em 2.5em 0.9em;
	position: relative;
}

#firstHeading {
	font-size: 2.68em;
	font-family: "Lato body", sans-serif;
	padding: 0;
	margin-bottom: 0;
	border: 0;
}

.mw-indicators {
	float: right;
}

.mw-indicator {
	display: inline;
}

.scroll-shadow {
	background: none;
}

.standard-toolbox {
	font-family: "Lato", sans-serif; /* assigning here so em values match em values of the links inside */
	height: 1.5em; /* 1em for the text, 0.25em for text padding-top, 0.25em for text padding-bottom; meanwhile the links take up 1.75em when you include their 0.25em border-bottom */
	position: absolute;
	bottom: 0.75em;
}

.toolbox-link {
	cursor: pointer; /* doesn't have href so must be explicitly defined */
}

.standard-toolbox a {
	text-transform: lowercase;
	font-weight: normal;
	text-decoration: none;
}

.standard-toolbox > a,
.standard-toolbox .toolbox-link {
	/* page action links outside of the dropdown and the "more..."/"tools" button */
	margin-left: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.standard-toolbox > a:first-of-type {
	margin-left: 0;
}

.standard-toolbox > a:hover,
.standard-toolbox > a.selected,
.standard-toolbox .toolbox-link:hover {
	border-bottom: 0.25em solid;
}

.refreshed-icon {
	width: auto;
	height: 1em;
	fill: currentColor;
	vertical-align: text-bottom;
}

.avatar {
	width: 30px;
	height: auto;
}

.refreshed-icon-refreshed-menu,
.refreshed-icon-search,
.refreshed-icon-refreshed-explore {
	width: 1.5em;
	height: auto;
}

/* add margin to dropdown expand element (but not for the site info dropdown) */
#sidebar-toggler-header-categories-user-info-search-wrapper .refreshed-icon-refreshed-dropdown-expand {
	margin-left: 0.25em;
}

.standard-toolbox-dropdown {
	left: 0.5em;
	z-index: 3;
	background: #fff;
	position: absolute;
	width: 12em;
	box-shadow: 0 3px 9px 0 rgba(75, 75, 75, 0.4);
	border: 1px solid #ddd;
	margin-top: 0.25em;
}

.standard-toolbox-dropdown ul {
	list-style-type: none;
	margin-left: 0;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.dropdown-triangle {
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.5em solid #ccc;
	position: absolute;
	top: -.5em;
	left: 0.1em;
}

/* the dropdown/sidebar links where a side border appears on hover */
.refreshed-dropdown-item a,
.sidebar-content a {
	display: block;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 1em;
	border-left: 5px solid transparent;
	box-sizing: border-box; /* padding/border should be included within the 100% width */
	text-decoration: none;
}

.refreshed-dropdown-item a:hover,
.refreshed-dropdown-item a:focus,
.sidebar-content a:hover,
.sidebar-content a:active,
.refreshed-dropdown-checkbox:checked ~ .refreshed-dropdown-toggle .explore-submenu-dropdown-button {
	border-color: currentColor;
}

.sidebar-content a {
	color: currentColor;
	padding-left: 1.5em;
}

.sidebar-content a:hover,
.sidebar-content a:active, {
	color: #eee;
}

.refreshed-dropdown-item a {
	/* since the first line appears (padding-left + text-indent) from the left
	edge, and (padding-right) from the right edge, and we want those values to be
	the same, padding-left + text-indent = padding-right */
	padding-left: 1em;
}

.refreshed-dropdown-item a:hover,
.refreshed-dropdown-checkbox:checked ~ .refreshed-dropdown-toggle .explore-submenu-dropdown-button {
	background-color: #eee;
}

.standard-toolbox-dropdown a {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-left: 0.25em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	box-sizing: border-box; /* padding/border should be included within the 100% width */
}

.standard-toolbox-dropdown a:hover {
	padding-left: 0;
	border-left: 0.25em solid;
	background-color: #eee;
}

.standard-toolbox-dropdown .toolbox-item-text {
	display: inline-block;
	margin-left: 2.5em;
	text-indent: -1em; /* pulls first line of text 1em to the left, so if you add 1em of padding to the right subsequent lines will look indented */
}

.standard-toolbox-dropdown a:before {
	position: absolute;
}

.standard-toolbox .toolbox-dropdown-page-action + .toolbox-dropdown-tool  {
	/* first tool in the dropdown that is after a page action (so if no page actions are in the dropdown, this CSS doesn't target anything) */
	margin-top: .25em;
	padding-top: .25em;
	border-top: 1px solid #ccc; /* divide the tools from the page actions */
}

.fixed-toolbox {
	padding-left: 0.9em; /* 1em (#bodyContent padding-left) * 0.9em (#bodyContent font-size) */
	position: fixed;
	border-bottom: 0.25em solid #eee;
	background: #fff;
	top: 3em; /* height of #header */
	left: 12em; /* margin-left of #content-wrapper */
	right: 1em; /* margin-right of #content-wrapper */
	z-index: 9999; /* very high value to guarantee no elements on wikis will appear above it */
}

.dropdown-open {
	-ms-transform: translateY(3em);
	transform: translateY(3em);
}

#main-title-messages {
	border-bottom: 1px solid #ddd;
}

#back-to-subject {
	display: none;
	font-size: 1.25em;
	padding-bottom: 0.25em;
}

#small-toolbox-wrapper {
	display: none;
}

#site-notice {
	width: 100%;
	text-align: center;
}

#new-talk {
	margin-left: 2em;
}

#content-wrapper {
	min-height: 100%;
	position: relative;
	top: 3em;
	background-color: #fff;
	z-index: 1;
	font-family: sans-serif;
	border-bottom: 0.25em solid #eee;
	padding-bottom: 1em;
}

#bodyContent {
	padding: 0 1em;
	line-height: 1.5em;
	font-size: 0.875em;
	word-wrap: break-word;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #252525;
	overflow: auto;
}

#sidebar-wrapper {
	position: fixed;
	bottom: 0;
}

.sidebar-wrapper a {
	display: block;
	color: currentColor;
	text-decoration: none;
}

.sidebar-wrapper a:hover {
	color: #ccc;
}

/*
 * Hide the list bullet icons. This is not terribly useful by default, but there
 * are extensions which can add entire portlets to the sidebarwrapper, and said portlets
 * might be using the <ul> HTML tag...
 */
#sidebar-wrapper li {
	list-style-type: none;
	margin: 0;
}

#sidebar-wrapper ul {
	margin: 0;
	padding: 0;
}

.sidebar-section .main {
	color: currentColor;
	border: 0;
	margin: 0;
	margin-left: 0.5em;
	margin-top: 0.5em;
	padding: 0;
	font-size: 1em;
}

.sidebar-section:first-of-type h1 {
	margin-top: 0;
}

.toolbox-container {
	display: inline-block;
	position: relative;
}

/********** Footer **********/

#footer {
	position: relative;
	top: 3.5em;
	text-align: center;
	padding-bottom: 15px;
	color: #ccc;
	line-height: 1.5em;
}

#footer a {
	color: #fff;
}

#footer img {
	vertical-align: text-top;
}

#footer #advert {
	margin-bottom: 1em; /* enough spacing after ad */
}

#footer #advert p {
	margin: 0;
}

.footer-row {
	margin: 0;
}
.footer-row-item {
	margin: 0 0.5em;
	display: inline;
}

/******************************** CONTENT/OTHER THINGS BEYOND CONTROL ******************************/
#cats {
	padding: 1em;
}

#content-wrapper p:first-of-type {
	margin-top: 0;
}

/* dropdowns */
#site-navigation-dropdown {
	position: relative;
	width: 100%; /* so tray can fit width of sidebar area rather than default width */
}

#site-navigation-dropdown-button {
	width: 2em;
}

#site-navigation-dropdown-tray {
	width: 100%; /* ensure tray is as wide as #site-info */
}

/* Dropdowns use the "checkbox hack":
see https://css-tricks.com/the-checkbox-hack/ */
.refreshed-dropdown-checkbox:checked ~ .refreshed-dropdown-tray,
.refreshed-dropdown-checkbox:checked ~ .refreshed-dropdown-toggle .refreshed-dropdown-triangle {
	display: block;
}

/* when the dropdown is open, give the label a huge child so clicking anywhere
outside the dropdown closes the box.
The first selector is for when checkboxes can be placed as a prior sibling to
their contents. The second selector is useful for the sidebar toggle checkbox,
because it is not a sibling of the elements it affects (it can't be, since the
two elements are in different containers). The checkbox should affect the
sidebar button (in #header-wrapper) and the sidebar (in #sidebar-wrapper). */
.header-checkbox ~ .header-toggle::after,
#sidebar-toggler-checkbox ~ #header-wrapper #sidebar-toggler-toggle::after {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: default;
	/* z-index so this pseudoelement covers all dropdown buttons (the dropdown
	buttons don't have a z-index, so the pseudoelement will cover them).
	Also 1 less than the #sidebar-wrapper z-index on small so it appears behind
	the sidebar. */
	z-index: 1;
	pointer-events: none;
	transition: background-color 0.1s ease;
	/* include the box-sizing so we can be confident that jQuery's outerHeight()
	matches the actual height of the header */
	box-sizing: border-box;
}

.header-checkbox:checked ~ .header-toggle::after,
#sidebar-toggler-checkbox:checked ~ #header-wrapper #sidebar-toggler-toggle::after {
	background-color: rgba(0, 0, 0, 0.2);
	pointer-events: auto;
}

.header-checkbox {
	position: fixed;
	top: -9999px;
	left: -9999px;
}

/*
	Why this element exists:
	Originally the triangle was a pseudoelement attached to .refreshed-dropdown-button.
	We'd center it relative to the button using left: 50%; and transform: translateX(-50%).
	This doesn't work when the button width is more than twice dropdown width:
	the triangle is so far right it looks disconnected from the dropdown.
	One solution is to set a maximum amount left the triangle can be.
	To set a maximum left amount we could use max-width.
	However the way the pseudoelement was set up, it needs width: 0 for the triangle to actually be a triangle.
	So we couldn't solve this problem by changing the pseudoelement's width.
	Instead we customize the width of a dummy element, then make the triangle at its top center with a pseudoelement.
*/
.refreshed-dropdown-triangle {
	width: 50%;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	/* 1 more than z-index of .refreshed-dropdown-tray to ensure the triangle
	appears above the dropdown and thus is not underneath its drop shadow */
	z-index: 3;
	display: none;
	/* Since the dropdown triangle is above the dropdown tray, which is not covered
	by the huge pseudoelement, hovering over it when the pseudoelement is open
	causes the cursor to turn into a pointer (since the triangle is inside a label
	element). Force the cursor to be the default one instead.
	*/
	cursor: auto;
}
.refreshed-dropdown-triangle:after {
	content: "";
	border-left: .4em solid transparent;
	border-right: .4em solid transparent;
	border-bottom: .4em solid #fff; /* same as .refreshed-dropdown-tray background-color */
	position: absolute;
	/* opposite of margin-top of .refreshed-dropdown-tray to ensure arrow lines up with tray */
	/* also opposite of .header-suggestions margin-top on medium/small */
	bottom: 3px;
	left: 100%;
	transform: translateX(-50%);
}

.refreshed-dropdown-tray {
	background: #fff; /* same as .refreshed-dropdown-triangle:after border-bottom color */
	position: absolute;
	box-shadow: 0 3px 9px 0 rgba(75,75,75,0.4);
	/* padding-top is opposite of top of
	.refreshed-dropdown-checkbox:checked ~ .explore-submenu-dropdown-tray */
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: none;
	margin: 0;
	/* margin-top is opposite of bottom of .refreshed-dropdown-triangle:after to
	ensure arrow lines up with tray */
	/* also same as margin-top of .header-suggestions on medium/small */
	margin-top: -3px;
	line-height: 1.2em;
	/* 1 more than z-index of .header-checkbox ~ .header-toggle::after (etc.)
	so the dropdown appears above the dropdown close overlay.
	1 less than z-index of .refreshed-dropdown-triangle to ensure the triangle
	appears above the dropdown and thus is not underneath its drop shadow */
	z-index: 2;
}

.refreshed-dropdown-tray img {
	max-width: 100%;
}

.refreshed-dropdown-tray li {
	margin: 0;
	list-style: none;
	padding: 0;
}

#sidebar-toggle-button {
	background-color: #194a8d;
}

.refreshed-logo img {
	/* keep the logo from exceeding the space of the header (for current logo)
	or being inconveniently big (for logos in dropdown) */
	max-height: 2em;
}

.header-suggestions {
	box-shadow: 0 3px 9px 0 rgba(75,75,75,0.4);
}

.header-suggestions .suggestions-results {
	border: 0 !important;
}

.mw-echo-ui-overlay {
	z-index: 1099 !important; /* same as #header-wrapper and .header-suggestions */
}
