.refreshed-menu-collapsible {
	-ms-transition: max-height 0.4s ease;
	transition: max-height 0.4s ease;
	/*max-height: 50vh; /* capping the sidebar height at half the height of the window */
	visibility: visible;
	overflow: hidden;
	height: auto;
}

.refreshed-menu-collapsed {
	-ms-transition: max-height 0.2s ease, visibility 0.2s;
	transition: max-height 0.2s ease, visibility 0.2s;
	max-height: 0 !important;
	visibility: hidden;
	overflow: hidden;
}

.fadable {
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	opacity: 1;
	visibility: visible;
}

.faded {
	-ms-transition: opacity 0.2s ease, visibility 0.2s;
	transition: opacity 0.2s ease, visibility 0.2s;
	opacity: 0;
	visibility: hidden;
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	background-color: #194a8d;
	-webkit-tap-highlight-color: transparent; /* preventing gray overlay when pressed on mobile webkit browsers (e.g. mobile Safari) */
}

#fade-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	opacity: 0;
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	background: #fff;
}

.fade-overlay-active {
	opacity: 0.5 !important;
	z-index: 10001; /* very high value to guarantee no elements on wikis will appear above it (except the sidebar) */
	cursor: pointer;
}

.fade-overlay-triggered-by-search {
	z-index: 10000 !important; /* below header but above page content (used for search) */
	cursor: pointer;
}

#header-wrapper {
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 3em;
	line-height: 3em;
	z-index: 10000; /* very high value to guarantee no elements on wikis will appear above it */
	position: fixed;
	background-color: #103ca2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#040f28,EndColorStr=#103ca2)"; /* IE9+ */
	background-image: linear-gradient(to left, #040f28 0, #103ca2 50%, #040f28 100%);
}

#header-wrapper img {
	margin-bottom: 0.3em; /* images aren't perfectly vertically centered, this corrects it. Better fix in future? */
}

.header-button { /* defined at top so individual elements can override these properties */
	cursor: pointer;
	font-family: "Lato Body", sans-serif;
	color: #fff;
	display: inline-block;
	text-align: center;
}

a.header-button { /* double selectors to override default a element text-decoration without use of !important */
	text-decoration: none;
}

.header-button .arrow {
	display: inline-block;
	-ms-transition: transform 0.5s;
	transition: transform 0.5s;
}

.arrow.rotate {
	transform: rotate(-180deg);
}

.header-dropdown-item a {
	color: #fff;
}

.header-dropdown-item a.new {
	color: #fdad9d;
}

.header-button:hover,
.header-button-active,
.header-dropdown-item:hover { /* defined at bottom so this overrides individual elements' background-color properties */
	background-color: midnightblue;
}

#user-info {
	float: right;
	position: relative; /* the dropdown is position: absolute; and should be right: 0; relative to its parent, so the parent needs position: relative; */
}

.avatar {
	width: 30px;
}

.avatar-image {
	padding-left: 0.25em;
	padding-right: 0.25em; /* this class is added to image avatars because they should have padding but the default WikiFont ones shouldn't */
}

.header-button .wikiglyph-user-sleep,
.header-button .wikiglyph-user-smile,
.header-button .wikiglyph-magnifying-glass {
	display: inline-block;
	vertical-align: middle;
	font-size: 2em;
	line-height: 1em; /* That is, the line-height is the font size. The line-height and the vertical-align together vertically center the icon. */
}

.no-show {
	display: none;
}

.header-menu {
	padding: 0 0.2em 0.2em 0.2em;
	margin: 0;
	z-index: 4;
	list-style: none;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	line-height: 1em;
}

.header-menu a {
	font-size: 1.125em;
	text-decoration: none;
	display: block;
	padding: 0.2em 0.4em 0.2em 0.4em;
}

#user-info .header-menu {
	right: 0;
	width: 11em;
}

#user-info .header-menu a {
	padding-right: 0.7em;
	text-align: right;
}

.sidebar-shower {
	position: absolute;
	top: 0;
	right: -3em;
	background-color: #194a8d;
	background-image: url(../../images/icon-rightbar.png);
	background-size: 3em;
	display: none;
	-ms-transition: right 0.2s ease 0s;
	transition: right 0.2s ease 0s;
}

#site-info {
	float: left;
}

#site-info .header-menu {
	width: 11.6em;
}

#site-info-main {
	float: left;
	width: 12em;
}

#site-info-main.multiple-wikis .main {
	width: 10em;
	float: left; /* prevent arrow from being bumped down */
}

#site-info-main a.main {
	width: 12em;
	color: #fff;
	font-weight: bold;
}

.site-info-arrow {
	width: 2em;
}

#site-info-main.multiple-wikis .header-menu {
	text-align: center;
}

#site-info-mobile {
	display: none;
	height: 2.75em;
	width: 2.75em;
	margin-left: 3em; /* 2.75em for sidebar opener, 0.25em of padding */
	padding: 0 0.25em;
}

#site-info-mobile .header-button {
	display: block;
}

.search-shower {
	position: relative;
	float: right;
	text-align: center;
	display: none;
}

#header-wrapper .search {
	width: 11em;
	height: 2em;
	display: inline-block;
	float: right;
	padding-right: 1em;
	padding-left: 0.5em;
}

#header-wrapper .search-form {
	height: 100%;
}

.search-closer {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 1;
}

#searchInput {
	border: none;
	font-size: 1em;
	padding: 0.25em;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	-webkit-appearance: none; /* prevent Safari from styling input box */
	border-radius: 0; /* prevent iOS from adding rounded corners to input box */
	width: 11em;
	height: 100%;
}

#searchInput::-webkit-input-placeholder {
	color: #808080;
	font-weight: 700;
}

#searchInput::-moz-placeholder {
	color: #808080;
	font-weight: 700;
}

#searchInput::-ms-input-placeholder {
	color: #808080;
	font-weight: 700;
}

#header-categories {
	height: 100%;
	overflow: hidden; /* hide categories that get cut off when the window is too small */
}

.page-item {
	display: inline-block;
}

#header-categories .header-button,
#user-info .header-button {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#header-categories a:hover,
#header-categories a:focus {
	text-decoration: none;
}

#header-categories li img {
	margin: 0.5em 3px 4px;
}

#header-categories .header-menu {
	width: 10em;
}

#content-heading {
	/* padding-left/right: 1em (#bodyContent padding-left) * 0.9em (#bodyContent font-size);
	 padding-bottom: 0.25em (padding on top of .standard-toolbox) + 1.5em (height of .standard-toolbox) + 0.75em (padding on bottom of .standard-toolbox) */
	padding: 0.5em 0.9em 2.5em 0.9em;
	position: relative;
}

#firstHeading {
	font-size: 2.68em;
	font-family: "Lato Body", sans-serif;
	padding: 0;
	margin-bottom: 0;
	border: 0;
}

.mw-indicators {
	float: right;
}

.mw-indicator {
	display: inline;
}

.scroll-shadow {
	background: none;
}

.standard-toolbox {
	font-family: "Lato", sans-serif; /* assigning here so em values match em values of the links inside */
	height: 1.5em; /* 1em for the text, 0.25em for text padding-top, 0.25em for text padding-bottom; meanwhile the links take up 1.75em when you include their 0.25em border-bottom */
	position: absolute;
	bottom: 0.75em;
}

.toolbox-link {
	cursor: pointer; /* doesn't have href so must be explicitly defined */
}

.standard-toolbox a {
	text-transform: lowercase;
	font-weight: normal;
	text-decoration: none;
}

.standard-toolbox > a,
.standard-toolbox .toolbox-link {
	 /* page action links outside of the dropdown and the "more..."/"tools" button */
	margin-left: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.standard-toolbox > a:first-of-type {
	margin-left: 0;
}

.standard-toolbox > a:hover,
.standard-toolbox > a.selected,
.standard-toolbox .toolbox-link:hover {
	border-bottom: 0.25em solid;
}

.standard-toolbox > a:before,
.standard-toolbox-dropdown a:before {
	font-family: 'WikiFont-Glyphs';
	font-size: 1.25em;
	vertical-align: sub;
}

.standard-toolbox [id^='ca-nstab-']:before {
	content: '\e100'; /* article */
}

.standard-toolbox #ca-talk:before {
	content: '\e227'; /* speech-bubbles */
}

.standard-toolbox #ca-edit:before {
	content: '\e220'; /* edit */
}

.standard-toolbox #ca-viewsource:before {
	content: '\e007'; /* eye */
}

.standard-toolbox #ca-history:before {
	content: '\e011'; /* clock */
}

.standard-toolbox #ca-delete:before {
	content: '\e130'; /* trash */
}

.standard-toolbox #ca-move:before {
	content: '\e013'; /* move */
}

.standard-toolbox #ca-protect:before {
	content: '\e019'; /* unlock */
}

.standard-toolbox #ca-unprotect:before {
	content: '\e018'; /* lock */
}

.standard-toolbox #ca-watch:before {
	content: '\e002'; /* star */
}

.standard-toolbox #ca-unwatch:before {
	content: '\e003'; /* unstar */
}

.standard-toolbox #ca-wikilove:before {
	content: '\e001'; /* heart */
}

.standard-toolbox #t-contributions:before {
	content: '\e243'; /* signature */
}

.standard-toolbox #t-blockip:before {
	content: '\e132'; /* block */
}

.standard-toolbox #t-emailuser:before {
	content: '\e016'; /* message */
}

.standard-toolbox #t-upload:before {
	content: '\e028'; /* upload */
}

.standard-toolbox #t-print:before {
	content: '\e009'; /* printer */
}

.standard-toolbox #t-permalink:before {
	content: '\e242'; /* link */
}

.standard-toolbox-dropdown {
	left: 0.5em;
	z-index: 3;
	background: #fff;
	position: absolute;
	width: 12em;
	box-shadow: 0 3px 9px 0 rgba(75, 75, 75, 0.4);
	border: 1px solid #ddd;
	margin-top: 0.25em;
}

.standard-toolbox-dropdown ul {
	list-style-type: none;
	margin-left: 0;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.dropdown-triangle {
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.5em solid #ccc;
	position: absolute;
	top: -.5em;
	left: 0.1em;
}

.standard-toolbox-dropdown a {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-left: 0.25em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	box-sizing: border-box; /* padding/border should be included within the 100% width */
}

.standard-toolbox-dropdown a:hover {
	padding-left: 0;
	border-left: 0.25em solid;
	background-color: #eee;
}

.standard-toolbox-dropdown .toolbox-item-text {
	display: inline-block;
	margin-left: 2.5em;
	text-indent: -1em; /* pulls first line of text 1em to the left, so if you add 1em of padding to the right subsequent lines will look indented */
}

.standard-toolbox-dropdown a:before {
	position: absolute;
}

.standard-toolbox .toolbox-dropdown-page-action + .toolbox-dropdown-tool  {
	/* first tool in the dropdown that is after a page action (so if no page actions are in the dropdown, this CSS doesn't target anything) */
	margin-top: .25em;
	padding-top: .25em;
	border-top: 1px solid #ccc; /* divide the tools from the page actions */
}

.fixed-toolbox {
	padding-left: 0.9em; /* 1em (#bodyContent padding-left) * 0.9em (#bodyContent font-size) */
	position: fixed;
	border-bottom: 0.25em solid #eee;
	background: #fff;
	top: 3em; /* height of #header */
	left: 12em; /* margin-left of #content-wrapper */
	right: 1em; /* margin-right of #content-wrapper */
	z-index: 9999; /* very high value to guarantee no elements on wikis will appear above it */
}

.dropdown-open {
	-ms-transform: translateY(3em);
	transform: translateY(3em);
}

#main-title-messages {
	border-bottom: 1px solid #ddd;
}

#back-to-subject {
	display: none;
	font-size: 1.25em;
	padding-bottom: 0.25em;
}

#small-toolbox-wrapper {
	display: none;
}

#site-notice {
	width: 100%;
	text-align: center;
}

#new-talk {
	margin-left: 2em;
}

#content-wrapper {
	min-height: 100%;
	position: relative;
	top: 3em;
	background-color: #fff;
	z-index: 1;
	font-family: sans-serif;
	border-bottom: 0.25em solid #eee;
	padding-bottom: 1em;
}

#content-wrapper * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}

#bodyContent {
	padding: 0 1em;
	line-height: 1.5em;
	font-size: 0.875em;
	word-wrap: break-word;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #252525;
	overflow: auto;
}

#sidebar-wrapper {
	width: 12em;
	position: fixed;
	top: 0;
	color: #fff;
	z-index: 2;
	height: 100%;
}

/*
 * Hide the list bullet icons. This is not terribly useful by default, but there
 * are extensions which can add entire portlets to the sidebarwrapper, and said portlets
 * might be using the <ul> HTML tag...
 */
#sidebar-wrapper li {
	list-style-type: none;
	margin: 0;
}

#sidebar-wrapper ul {
	margin: 0;
	padding: 0;
}

#sidebar-logo {
	display: none;
}

#sidebar {
	overflow-y: auto;
	width: 100%;
	height: calc( 100% - 3.5em );
	left: 0;
	line-height: 1.5em;
	position: absolute;
	top: 3em;
	padding-top: 0.5em;
}

#sidebar a {
	display: block;
	color: white;
	text-decoration: none;
	padding-left: 1em;
	margin-left: 5px; /* px instead of em because of 5px border on hover */
}

#sidebar a:hover {
	color: #ccc;
	cursor: pointer;
	border-left: 5px solid;
	margin-left: 0;
}

.sidebar-section .main {
	border: 0;
	margin: 0;
	margin-left: 0.5em;
	margin-top: 0.5em;
	padding: 0;
	font-size: 1em;
	color: inherit;
	line-height: 1.5;
}

.sidebar-section:first-of-type h1 {
	margin-top: 0;
}

#sidebar li {
	text-transform: lowercase;
}

.toolbox-container {
	display: inline-block;
	position: relative;
}

/********** Footer **********/

#footer {
	position: relative;
	top: 3.5em;
	text-align: center;
	padding-bottom: 15px;
	color: #ccc;
}

#footer a {
	color: #fff;
}

#footer * {
	line-height: 1.5;
}

#footer img {
	vertical-align: text-top;
}

#footer #advert {
	margin-bottom: 1em; /* enough spacing after ad */
}

#footer #advert p {
	margin: 0;
}

.footer-row {
	margin: 0;
}
.footer-row-item {
	margin: 0 0.5em;
	display: inline;
}

/******************************** CONTENT/OTHER THINGS BEYOND CONTROL ******************************/
#cats {
	padding: 1em;
}

#content-wrapper p:first-of-type {
	margin-top: 0;
}

/* Search suggestions */
.header-suggestions { /* there are two .suggestions elements on Special:Search; we only want to apply the CSS to the .header-suggestions element that appears beneath the header, which is first */
	z-index: 10000 !important;
	position: fixed !important;
	top: 2.5em !important; /* there is some JS doing odd stuff, this forces our value */
}
