@import 'variables.less';

/*******************************************************************************
**************************** DROPDOWNS/COLLAPSIBLES ****************************
*******************************************************************************/

.refreshed-dropdown-tray {
  left: 0;
  right: 0;
  font-size: @small-dropdown-tray-sidebar-font-size;
}

/*******************************************************************************
************************************ HEADER ************************************
*******************************************************************************/

body {
  overflow-x: hidden;
}

.header-height( @small-header-height );

.header-button-textless,
.header-button-textless-small {
  width: @small-header-height;
  padding: 0;
}

.site-navigation-logo-img {
  max-width: @small-site-navigation-logo-img-max-width;
}

#site-navigation-header {
  .site-navigation-full-logos {
    display: none;
  }
}

#explore-header-categories {
  display: none;
}

/* in case they are re-enabled using Refreshed.css */
#explore-header-categories-dropdowns {
	margin-top: -( @small-header-height );
}

#searchInput {
  width: 100%;
}

.dropdown-searchInput( @small-header-search-width );

#header-suggestions {
  left: 0 !important;
  right: 0 !important;
}


#user-info-dropdown-button {
  .refreshed-username,
  .refreshed-icon-refreshed-dropdown-expand {
    display: none;
  }
}

/*******************************************************************************
************************************ SIDEBAR ***********************************
*******************************************************************************/

.use-sidebar-menu( @small-sidebar-width, @sidebar-menu-background );

#sidebar-wrapper {
  font-size: @small-dropdown-tray-sidebar-font-size;
}

/*******************************************************************************
************************************ CONTENT ***********************************
*******************************************************************************/

/* @TODO */

#firstHeading,
#main-title-messages {
  text-align: center;
}

#main-title-messages,
#refreshed-toolbox {
  font-size: 1.25em;
}

/* toolbox */

#refreshed-toolbox {
  overflow-x: auto;
}

#toolbox-namespaces .ca-subject { /* #toolbox-namespaces for specificity */
  display: none;
}

.selected#ca-talk {
  display: none;
}


.inline-tool-text {
  display: none;
}

.toolbox-main-actions > a,
.combined-tools-dropdown {
  margin-left: 0.75em;
}

/*******************************************************************************
************************************ FOOTER ************************************
*******************************************************************************/

/* @TODO */

/*******************************************************************************
************************************** OLD *************************************
*******************************************************************************/
