/* anything 600px and under - phones */

#header-wrapper {
	/* .header-suggestions relies on height, see its CSS for more */
	/* height is opposite of margin-top of #explore-header-categories-dropdowns */
	/* etc. (search for 2.75em to find more) */
	height: 2.75em;
}

#explore-header-categories-dropdowns {
	margin-top: -2.75em; /* opposite of height of #header-wrapper */
}

/* handle the header buttons that contain no text (only icon/image) on small */
.header-button-textless,
.header-button-textless-small {
	width: 2.75em; /* same as height of #header-wrapper */
}

/* If a header button has its text hidden on small, hide the text and dropdown
arrows. */
.header-button-textless-small .header-text {
	display: none;
}

.header-button-textless-small svg,
.header-button-textless-small img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* hide dropdown arrow for the user info dropdown button */
#user-info-dropdown-button .refreshed-icon-refreshed-dropdown-expand {
	display: none;
}

.refreshed-dropdown-tray-small {
	background: #fff; /* same as .refreshed-dropdown-triangle:after border-bottom color */
	position: absolute;
	box-shadow: 0 3px 9px 0 rgba(75,75,75,0.4);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: none;
	margin: 0;
	/* margin-top is opposite of bottom of .refreshed-dropdown-triangle:after to
	ensure arrow lines up with tray */
	/* also same as .header-suggestions margin-top on medium/small */
	margin-top: -3px;
	line-height: 1.2em;
	/* 1 more than z-index of .refreshed-checkbox ~ .refreshed-toggle::after (etc.)
	so the dropdown appears above the dropdown close overlay.
	1 less than z-index of .refreshed-dropdown-triangle to ensure the triangle
	appears above the dropdown and thus is not underneath its drop shadow */
	z-index: 2;
}

.refreshed-dropdown-tray-small img {
	max-width: 100%;
}

.refreshed-dropdown-tray-small li {
	margin: 0;
	list-style: none;
	padding: 0;
}

/* Dropdowns use the "checkbox hack":
see https://css-tricks.com/the-checkbox-hack/ */
.refreshed-dropdown-checkbox:checked ~ .refreshed-dropdown-tray-small {
	display: block;
}

.refreshed-dropdown-tray,
.refreshed-dropdown-tray-small {
	/* force dropdown trays to take up the full viewport width */
	/* This width notably more than the max-width of .refreshed-dropdown-triangle
	(see its CSS for explanation).
	NOTE: This assumes .refreshed-dropdown-triangle and .refreshed-dropdown-tray
	have the same font size... */
	width: 100%; /* same as width of .header-suggestions */
	left: 0;
}

.refreshed-dropdown-triangle {
	/* This max-width is notably less than width of .refreshed-dropdown-tray
	so the triangle doesn't appear disconnected from tray. Having the max-width
	equal the width wouldn't work: the triangle is centered on the right (LTR) or
	left (RTL) edge of .refreshed-dropdown-triangle, so if
	.refreshed-dropdown-triangle is the same width as a dropdown, the arrow will
	peek off of it. We just make the max-width less, without figuring out the
	exact number where the triangle would be on the edge of the dropdown, because
	we don't want the triangle to be on the exact edge of the dropdown anyway if
	possible (it looks weird).
	NOTE: This assumes .refreshed-dropdown-triangle and .refreshed-dropdown-tray
	have the same font size... */
	max-width: 50vw;
}

#sidebar-wrapper {
	top: 0;
	width: 75%;
	left: -75%;
	z-index: 10001; /* 1 greater than #header-wrapper so appears above header */
	background: #194a8d;
	-ms-transition: left 0.2s ease;
	transition: left 0.2s ease;
}

#sidebar-toggler-checkbox:checked ~ #sidebar-wrapper {
	left: 0;
	/* only apply the box shadow when the sidebar is opened so the shadow doesn't
	appear on the edge of the screen when the sidebar is closed (just off the edge
	of the screen) */
	box-shadow: 0 3px 9px 0 rgba(75,75,75,0.4);
}

#sidebar-logo {
	display: block;
	width: 100%;
	height: 2.75em; /* same as height of header-wrapper */
	text-align: center;
	padding: 0.5em 0;
}

#site-navigation-header {
	display: inline-block; /* don't push menu items on the right side of the header off of the header */
}

#site-navigation-header .site-navigation-full-logos {
	display: none;
}

#site-navigation-header .site-navigation-icon-logos {
	display: inline-block;
}

#header-search-dropdown-tray {
	/* .header-suggestions relies on padding-top/bottom, see its CSS for more */
	/* padding-left/right is same as .searchButton's top/bottom/right */
	padding-left: 0.5em;
  padding-right: 0.5em;
	box-sizing: border-box; /* padding counts toward width */
}

#searchInput { /* header search box */
	outline: 0;
	width: 100%;
	border-bottom: 3px solid transparent;
	/* padding-right is 0.5em more than padding-right of .searchButton to leave
	room for it */
	padding-right: 2.5em;
}

#searchInput:focus {
	border-color: currentColor;
}

.searchButton {
	/* take up full height and stick to right side of #searchInput. */
	top: 50%;
	transform: translateY(-50%);
	right: 0.5em;
}

[dir="ltr"] .searchButton {
	/* ooui-icon-arrowNext-ltr */
	background-image: url( data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M10%202L8.59%203.42%2014.17%209H2v2h12.17l-5.58%205.59L10%2018l8-8-8-8z%22%2F%3E%3C%2Fsvg%3E%0A );
}

[dir="rtl"] .searchButton {
	/* ooui-icon-arrowNext-rtl */
	background-image: url( data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M2%2010l8%208%201.4-1.4L5.8%2011H18V9H5.8l5.6-5.6L10%202z%22%2F%3E%3C%2Fsvg%3E );
}

#searchText,
#powerSearchText { /* search and advanced search boxes on Special:Search */
	font-size: 1.125em;
}

#mw-search-top-table {
	text-align: center; /* center the search/advanced search boxes and submit button on Special:Search */
}

.search-types {
	width: 100%; /* break search types into 2 columns so the last item doesn't fall onto the next row on very small screens */
}

.search-types li {
	width: 50%;
}

#mw-searchoptions td {
	display: block; /* set each namespace under the advanced search preferences on its own line to prevent overflow (but if there's enough room it'll expand so there's two per line) */
}

.searchresult {
	max-width: 100%; /* prevent search results from overflowing */
}

#user-info .header-menu a:hover {
	color: #ccc;
}

#user-info .header-menu a.new:hover {
	color: #f47d64;
}

/* Echo fix on small screens per https://phabricator.wikimedia.org/T126106#2655009 */
.oo-ui-popupWidget-popup {
	width: 340px !important;
	left: 120px !important;
}

.oo-ui-popupWidget-body {
	width: 100%;
}

#content-wrapper {
	top: 2.75em; /* same as height of header-wrapper */
}

#explore-header-categories {
	display: none;
}

#content-heading {
	position: relative;
	font-size: 0.9em;
	padding: 0 1em;
	width: auto;
}

#firstHeading {
	overflow-x: auto;
	white-space: nowrap;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 2.25em;
}

.mw-indicator {
	display: none !important;
	/* to unset an individual indicator add the following:
	#mw-indicator-name { display: inline-block !important; }
	replacing "name" with the assigned name of the indicator */
}

.scroll-shadow {
	background:
		-webkit-linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		-webkit-linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)), linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0, linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)), linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		-webkit-linear-gradient(0deg, white 20%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, white 20%, rgba(255,255,255,0)) 100% 0, -webkit-linear-gradient(0deg, #e3e3e3 10%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background-repeat: no-repeat;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-attachment: local, local, scroll, scroll;
}

.standard-toolbox {
	display: none;
}

#main-title-messages {
	display: none;
}

#back-to-subject {
	display: block;
}

#small-toolbox-wrapper {
	position: relative;
	display: block;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	font-size: 2.75em;
	margin: 0 0.36em; /* 1em / 2.75em (font size) */
	overflow-y: hidden;
	height: 1.1em;
}

.small-toolbox {
	position: relative;
	width: 3.75em; /* needs 1em for three icons plus0.25em of padding to the right of each icon, so 3.75em */
	height: 1em;
	overflow: hidden; /* hides tools that are past the more button, so you can't accidentally press a tool that's not visible */
	white-space: nowrap;
	overflow: hidden;
	-o-transition: width 0.2s ease 0.5s;
	-moz-transition: width 0.2s ease 0.5s;
	-webkit-transition: width 0.2s ease 0.5s; /* -webkit- last so it's used in place of -o- if possible */
	transition: width 0.2s ease 0.5s;
	display: inline-block;
	height: 100%;
}

.small-toolbox-expanded {
	width: 100%;
	overflow-x: auto;
}

a.small-tool { /* inclusion of the "a" is necessary to override the standard a element font color without using !important */
	font-size: 1em;
	width: 1em;
	height: 1em;
	color: #000;
	padding-right: 0.25em;
}

.small-tool:hover {
	opacity: 0.5;
}

#small-tool-more {
	display: inline-block;
	overflow-y: hidden;
	height: 1em;
}

/* CONTENT AREA ********************************************/
/* Hide ads on mobile until mobile ads are implemented */
#advert {
	display: none;
}

/* place each footer link on its own line */
.footer-row-item {
	display: block;
}

.header-suggestions {
	position: fixed !important;
	top: 5.75em !important; /* height of #header-wrapper + height of #header-search-dropdown-tray */
	margin-top: -3px !important; /* same as margin-top of .refreshed-dropdown-triangle, opposite of bottom of .refreshed-dropdown-triangle:after */
	left: 0 !important;
	width: 100% !important; /* same as width of .refreshed-dropdown-tray */
	max-height: calc( 35vh - 5.75em ); /* hopefully small enough the keyboard doesn't block it: height so the bottom of the suggestions is no more than 35% down the page */
	overflow-y: scroll !important;
}

.header-suggestions .suggestions-result {
	padding: 0.5em 0.25em !important;
	border-bottom: 1px solid #ddd;
}

.header-suggestions .suggestions-special {
	padding: 0.5em 0.25em !important;
	margin-top: 0 !important;
	border: 0 !important;
}

/* Image thumbnails */
.thumb {
	width: 100% !important;
	margin: 0 !important;
}

div.thumbinner { /* need to specify div so it can overwrite the CSS in commonContent.css */
	width: auto !important;
	padding: 0.75em 0 !important;
	margin-bottom: 0.5em;
}

.thumbinner img {
	width: 50%;
	height: auto;
	border: 0 !important;
}

.thumbcaption {
	text-align: center !important;
	margin-bottom: -.75em !important;
}

.magnify {
	display: none;
}

/* Increase font size for editing menu - Brickimedia/brickimedia#301 */
.action-edit input[type="text"],
.action-edit input[type="number"],
.action-edit textarea {
	font-size: 1.063em;
}
